doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   article.container
     each leg in lego
       div.leg
         div.person-image(style=`background: url('/images/${leg.imgSrc}') top center no-repeat; background-size: 100%;`)
         h2.person-name
           | #{leg.SetName} <br> #{leg.SetTheme}
         a(href=`/lego?id=${leg.SetNumber}`)
           | istruzioni